<!DOCTYPE html>
<head>
	<title>DJ, Bartender, Quinceaneras, Sweet Sixteen in the bay area, best service</title>
	<meta name="keywords" content="bartender, conjac, ciroc, wine, don julio, henessy, vodka, catering, mobile, affordable bartender, party bartender, social bartender" />
	<meta name="description" content="Ready to start the best party of the year? We can help you fulfill your party needs! Click to find out more!" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--

Polystar Template

http://www.templatemo.com/tm-408-polystar

-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/css/owl.carousel.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css">

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="js/jquery.lightbox.js"></script> -->
	<script src="/js/owl.carousel.js"></script>
	<script src="js/templatemo_custom.js"></script>
</head>
<body id="main-bg">

	<%- include partials/navbar.ejs %>
	<div class="main-grid">
		<div class="main-box col-md-4">
			<h1>Coreographer & MC Quinceañera (Sweet 16)</h1>
			<p>Want an unforgettable experience for your party? We have the best tools to make your birthday the party of the year!</p>
			<a class="btn btn-primary" href="/sweetsixteen">Click Here to find out how</a>
		</div>
		<div class="main-box col-md-4">
			<h1>DJ</h1>
			<p>Planning the perfect party? Need a way to bring it to live? We can help!</p>
			<a class="btn btn-primary" href="/dj">Click Here to find out how</a>
		</div>
		<div class="main-box col-md-4 visible-xs visible-sm">
			<%- include partials/owl.ejs %>
		</div>
		<div class="main-box col-md-4">
			<h1>Bartender</h1>
			<p>The life of the party starts here. Unique drinks that will bring a smile to everyone! A reliable and affordable way to cater drinks to your party. Set the bar high, plan the best party with us!</p>
			<a class="btn btn-primary" href="/bartender">Click Here to find out how</a>
		</div>
		<div class="main-box col-md-4 visible-md visible-lg visible-xl">
			<%- include partials/owl.ejs %>			
		</div>
		<div class="main-box col-md-4">
			<h1>Contact Us</h1>
			<p>Are you ready to make the best impression amongst your peers? Want to take your party to the next level? Let's Plan it Together!</p>
			<a class="btn btn-primary" href="/contact">Click Here to find out how</a>
		</div>
		<div class="main-box col-md-4 visible-xs visible-sm">
			<%- include partials/owl.ejs %>
		</div>
		<div class="main-box col-md-4 visible-md visible-lg visible-xl">
			<%- include partials/owl.ejs %>
		</div>
	</div>
	<%- include partials/footer.ejs %>
</body>
</html>